/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2017, 4:31:30 PM
    Author     : Bright
*/

#close:hover{
    -fx-background-color:#F44336;
}

#fullscreen:hover{
    -fx-background-image:url('/librarymanagementsystem/images/fullscreen-hover.png');
}

#unfullscreen:hover{
    -fx-background-image:url('/librarymanagementsystem/images/unfullscreen-hover.png');
}

#minimise:hover{
    -fx-background-image:url('/librarymanagementsystem/images/minimize-hover.png');
}

.jfx-button{
    -fx-background-color: #2b579a;
    -fx-text-fill: white;
}

.jfx-button:hover{
    -fx-background-color: #219297;
    -fx-text-fill: white;
}

.jfx-button:focused{
    -fx-background-color: #2b579a;
}

.progress-bar > .track {
     -fx-background-color: #ffffff;
}
.progress-bar > .bar {
    -fx-background-color: #cacac9;
}

