.jfx-button{
    -fx-background-color: #2b579a;
    -fx-text-fill: white;
}

.jfx-button:hover{
    -fx-background-color: #219297;
    -fx-text-fill: white;
}

.jfx-button:focused{
    -fx-background-color: #2b579a;
}