/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 11, 2019, 2:33:09 AM
    Author     : Bright
*/

.jfx-button{
    -fx-background-color:white;
    -fx-border-color:black;
    -fx-border-width: 1;
    -fx-background-radius:0;
}